/.venv
/weights
/keymorph.egg-info
/.vscode
/output
/register_output
/data
/centered_IXI
/results
/data_originalni
/data_za_naredit
/poskus.py
__pycache__
/data_nasi
*.nii
*.nii.gz
/trening
/registracija_T2m_PDf
/registracija_T2m_T1f
/rezultati
utez_2/__training__keymorph_keypoints128_batch1_lr3e-06/checkpoints/epoch20_trained_model.pth.tar
neki/__training__keymorph_keypoints128_batch1_lr3e-06/args.json
utez_2/__training__keymorph_keypoints128_batch1_lr3e-06/args.json
